################################
# .NET / C# / ASP.NET CORE
################################

[Bb]in/
[Oo]bj/
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.vsp
*.vsn
*.vssk
*.opensdf
*.VC.db
*.sdf

[Pp]ackages/
[Pp]ackage/
*.nupkg

node_modules/
npm-debug.log*

TestResults/
coverlet/
.coverage
.rptproj
.tdnet

appsettings*.Development.json
appsettings*.Local.json
appsettings*.secrets.json

appsettings*.json